/*****************************
	GENERAL
*****************************/
.text-justify {
	text-align:justify!important;
}

/*****************************
	NAVBAR
*****************************/
#navbar {
	background-color: rgba(255,255,255,0.5);
}

/*****************************
	P1 - INTRO HEADER
*****************************/
#introHeader {
	height: 30vh!important;
	padding-top:100px!important;
	background-image: url('http://www.hd-wallpapers9.com/gallery/Photographs/Bg%20Desktop%20Wallpapers/Bg%20Desktop%20Wallpapers-027.jpg');
}

/*****************************
	P2 - SERVICES
*****************************/
#services {
	margin-top: 80px!important;
}

#services h2 {
	margin-bottom:20px!important;
}

#services h3 {
	font-size:2em;
}

#services p {
	font-size:1.3em;
}